<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Moto_Logo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Moto_Logo.Properties.Settings>
      <setting name="Theme" serializeAs="String">
        <value>dark</value>
      </setting>
      <setting name="Updates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolLang" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="LogoBinOpenSave" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogoWasSaved" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveProfiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogoBinOpen" serializeAs="String">
        <value />
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsMax" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DeviceSelected" serializeAs="String">
        <value />
      </setting>
      <setting name="LogoSelectedPath" serializeAs="String">
        <value />
      </setting>
    </Moto_Logo.Properties.Settings>
  </userSettings>
</configuration>