<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <userSettings>
    <Roaming />
    <PC_HP-FRANCO>
      <Moto_Logo.Properties.Settings>
        <Updates>True</Updates>
        <NewTVer></NewTVer>
        <LogoBinOpen></LogoBinOpen>
        <NeedUpdate>False</NeedUpdate>
        <ToolVersion>4.4.4.5</ToolVersion>
        <ToolTitle>Moto_Boot_Logo_Maker v4.4.4.5 - es-MX - PORTABLE - x64</ToolTitle>
        <LogoWasSaved>False</LogoWasSaved>
        <LogoSelectedPath></LogoSelectedPath>
        <IsAdmin>False</IsAdmin>
        <UpgradeRequired>False</UpgradeRequired>
        <SaveProfiles>True</SaveProfiles>
        <LogoMessage></LogoMessage>
        <LogoBinOpenSave>False</LogoBinOpenSave>
        <ToolLang>es-MX</ToolLang>
        <DeviceSelected></DeviceSelected>
      </Moto_Logo.Properties.Settings>
      <Moto_Logo.Properties.Profiles>
        <LogoPath>C:\NewMotoLogo\</LogoPath>
        <LogoMemory32MB>True</LogoMemory32MB>
        <LogoImageLandscape>False</LogoImageLandscape>
        <LogoMemory8MB>False</LogoMemory8MB>
        <LogoExtensionZIP>False</LogoExtensionZIP>
        <LogoImagePortrait>True</LogoImagePortrait>
        <LogoBinFormatDefault>True</LogoBinFormatDefault>
        <LogoMemory4MB>False</LogoMemory4MB>
        <LogoMemory16MB>False</LogoMemory16MB>
        <LogoBinFormatBundle>False</LogoBinFormatBundle>
        <LogoMemory6MB>False</LogoMemory6MB>
        <LogoImageCenter>True</LogoImageCenter>
        <LogoExtensionBIN>True</LogoExtensionBIN>
        <LogoImageFill>False</LogoImageFill>
        <LogoBinFormatRaw>False</LogoBinFormatRaw>
        <LogoImageStrech>False</LogoImageStrech>
        <LogoName>logo</LogoName>
      </Moto_Logo.Properties.Profiles>
    </PC_HP-FRANCO>
  </userSettings>
</configuration>